.css-lo0cu-MuiPaper-root {
  flex-direction: row;
  background-color: aliceblue;
  width: 90%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

#homeCardContent {
  padding: 0.25rem;
  text-align: center;
}

#signUpBTNWrapper {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
